body{
    margin: 0px; 
    font-family: arial;
    font-size: 15px;
    
}
header{
  
    height: auto;
    max-width: 100%;

}
nav{
  max-width: 100%;
}

nav ul{

    display: flex;
text-align: center;
    align-items: center;
    justify-content: center;




}
nav ul li {
padding-right: 90px;

list-style: none;
}
nav  a {
    text-decoration: none;
  
color: black;
    }

nav img{
    width: 60px;
    margin: 0px;
    padding: 0px;
 
}

section {
  width: 100%;


}
section img{
width: 100%;
    height: 100%;


}

main{
   
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



}
.contimoveis{
    width: 300px;
    height: auto;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
background-color: white;
padding: 0px;

 
    margin: 1%;
}
.contimoveis img{
    width: 100%;
    height: 220px;


}

h2{
padding: 0px 10px;
margin: 0px ;
  font-size: 22px;
  font-weight: normal;
}

h3{

position: relative;
top: -18px;
left: -8px;
border-radius: 3px;
background-color:#000000;
box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 1px;
  padding: 4px ;
  margin: 0px ;
  width: 200px;
  font-size: 25px;
 
  color:white;
  opacity: 0.9;
  
}

.cabe{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.cabe h1 {
  font-weight: normal;
}

.contimoveis button{
  width: 300px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: white;

  border: 0px;
  cursor: pointer;




 
}

.contimoveis p {
  padding: 0px 10px;
  font-size: 17px;

  margin: 10px 0px;

}
.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
  width: 850px;
  height: 850px;
  position: relative;
  margin: auto;
}
.slideshow-container img{
    width: 850px;
    height: 850px;

}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

 .info{

height: auto;


}



.continfo{
width: 45%;
display: flex;
justify-content: center;
flex-direction: column;




}

.continfo p{
    width: 70%;
    font-size: 17px;
    

}

.continfo button{
 margin-top: 20px;
    width: 600px;
    height: 50px;
    border: 0px;
    color: white;
    background-color: black;
    cursor: pointer;
}

footer{
 
width: 100%;
 margin-top: 50px;

    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
   

  

}
footer a{
  text-decoration: none;
  color: white;
}
footer p {
    font-size: 14px;
    margin-left: 50px;
padding-top: 70px;
padding-bottom: 50px;
 
}

.footerp {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
  width: 30px;
  height: 30px;

}


.wahtssapp{
  position: fixed;
 bottom: 0;
  right: 0;

  
    
}

.wahtssapp img{
  width: 200px;
 



 
}


.aluguel {
    height: 700px;
}

.cadastre{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 500px;

}
.cadastre button {
    width: 350px;
    height: 50px;
    background-color: black;
    color: white;
    border: 0px;
    margin-top: 50px;
    cursor: pointer;
}

.mobile-container {display: none;}

.continfo h3{
  text-decoration: line-through;
  background-color: white;
margin-top: 20px;
padding: 0px;
  box-shadow: none;
  font-size: 25px;


}
.continfo h2{
  margin-top: 0px;
  padding: 0px;
}
.dropbtn {
  background-color: white;
  color:black;
  border: 1px solid gray;
  padding: 10px 15px;
  font-size: 17px;
  width: 500px;
 margin-top: 20px;
  height: 50px;
text-align: left;
display: flex;
align-items: center;
  cursor: pointer;
}



.dropbtn img{
    width: 30px;
    margin-right: 20px;
}




#myInput {
  box-sizing: border-box;
  width: 500px;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}



#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.contcolum{
  margin: 10px 0px;
  width: 1000px;
  height: 300px;

  display: flex;
  flex-direction: row;
  box-shadow: rgba(128, 128, 128, 0.103) 0px 0px 2px 2px;
}

.contcolum img{
  width: 350px;
}

.colum{
  font-size: 20px;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.colum h5{
  font-size: 20px;
}
.contcolum a{
  display: flex;
  text-decoration: none;
  color: black;

}




@media screen and (max-width: 700px) {
    .mobile-container { display: block;max-width:100%;}
main{
    display: flex;
    flex-direction: column; 
    text-align: left;
    align-items: center;
   

   
}

.info{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.continfo h3{
  width: 100%;
}
.cabe h1 {
 width: 90%;
 margin-left: 10px;
 font-size: 25px;
}
.contimoveis{
  margin-top: 10px;
 
}
section img{

    width: 100%;
    height: 100%;
 

}

nav{display: none;}

  
  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  
  .topnav #Links {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  
  }
  
  .topnav a.icon {
    background: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 20px;
    margin-top: 15px;
    color: black;
    font-size: 35px;
  }
  
  .topnav a:hover {

    color: black;

  
  }
  
  .active {
    background-color: white;
    color:black;


  }
  .active img{
    width: 60px;
 
  }

  footer{

    height:auto;
    background-color: black;
    color: white;
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
  

}

footer p {
    font-size: 14px;
    margin-left: 0px;
padding-top: 0px;
padding-bottom: 0px;
 
}

.footerp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slideshow-container {
    width: 100%;
    height:300px;
    position:static;
    margin: 0px;


 
  }
.slideshow-container img{
    width: 100%;
    height: 300px;

}

.continfo{
    width: 90%;
    display: flex;
margin-top: 0px;
    flex-direction: column;
    align-items: center;

font-size: 20px;
    
    
    }
    .continfo iframe{
width: 95%;
    }

    .continfo button{
        width: 300px;
        height: 60px;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 250px;
        width: auto;
     
     
        color: white;
     
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .cadastre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   text-align: center;
       
    }
  

    .wahtssapp{
      position: fixed;
      bottom: 50px;
      right: 0;
    }
    
    .wahtssapp img{
      width: 150px;

    }
   
    .continfo p{
      width: 100%;
      text-align: left;
  
  }
.continfo h1{
  width: 100%;
  text-align: center;
}
 .continfo h2 {
width: 100%;
  padding: 0px 0px;

    font-size: 25px;
  

 }

 .dropbtn {
 
  width: 300px;

}

#myInput {

  width: 300px;

}



.contcolum{

  width: 90%;
  height: auto;
font-size: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: rgba(128, 128, 128, 0.103) 0px 0px 2px 2px;
}

.contcolum img{
  max-width: 150px;
 height: 150px;

}

.colum{

  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.colum h5{
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}
.contcolum a{
  display: flex;
  text-decoration: none;
  color: black;

}

.colum h2{
  padding: 0px;
  margin: 0px;
font-weight: bold;
  font-size: 18px;
  }
.colum p{

  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

    }

  