body{
    margin: 0px;
    background-color: rgba(216, 248, 236, 0.075);
}
header{
  
    height: auto;

}


nav ul{

    display: flex;
text-align: center;
    align-items: center;
    justify-content: center;




}
nav ul li {
padding-right: 90px;

list-style: none;
}
nav  a {
    text-decoration: none;
  
color: black;
    }

nav img{
    width: 170px;
}

section {
  width: 100%;
  height: auto;
}
section img{
width: 100%;
    height: 100%;
    object-fit:cover;

}

main{
   
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



}
.contimoveis{
    width: 300px;
    height: auto;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
background-color: white;

 
    margin: 0.5%;
}
.contimoveis img{
    width: 100%;
    height: 220px;
    
object-fit: cover;
}

h2{
padding-left: 20px;
margin: 5px 0px;
  font-size: 22px;
  font-weight: normal;
}

h3{
  padding: 0px 10px;
  margin: 15px 0px;
  font-size: 27px;
  font-weight: 900;
  
}

.cabe{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.cabe h1 {
  font-weight: normal;
}

.contimoveis button{
  width: 300px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: 600;
  border: 0px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


 
}

.contimoveis p {
  padding: 0px 10px;
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0px;

}
.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
  width: 850px;
  height: 850px;
  position: relative;
  margin: auto;
}
.slideshow-container img{
    width: 850px;
    height: 850px;
    object-fit: cover;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

 .info{

height: auto;


}



.continfo{
width: 45%;
display: flex;
justify-content: center;
flex-direction: column;



}

.continfo p{
    width: 70%;
    font-size: 17px;
    

}

.continfo button{
 margin-top: 20px;
    width: 600px;
    height: 50px;
    border: 0px;
    color: white;
    background-color: black;
    cursor: pointer;
}

footer{
 
   width: 100%;
 margin-top: 50px;

    background-color: black;
    color: white;
    display: flex;
flex-direction: column;
   

  

}

footer p {
    font-size: 14px;
    margin-left: 50px;
padding-top: 70px;
padding-bottom: 50px;
 
}

.footerp {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}


.wahtssapp{
  position: fixed;
 bottom: 0;
  right: 0;

  
    
}

.wahtssapp img{
  width: 200px;
 
  object-fit: cover;


 
}


.aluguel {
    height: 460px;
}

.cadastre{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 500px;

}
.cadastre button {
    width: 350px;
    height: 50px;
    background-color: black;
    color: white;
    border: 0px;
    margin-top: 50px;
    cursor: pointer;
}

.mobile-container {display: none;}

@media screen and (max-width: 700px) {
    .mobile-container {display: block;}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

   
}
.contimoveis{
  margin-top: 10%;
}
section img{

    width: 100%;
    height: 100%;
    object-fit:cover;

}

nav{display: none;}

  
  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  
  }
  
  .topnav a.icon {
    background: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 20px;
    margin-top: 25px;
    color: black;
    font-size: 35px;
  }
  
  .topnav a:hover {

    color: black;

  
  }
  
  .active {
    background-color: white;
    color:black;


  }
  .active img{
    width: 120px;
    margin-top: 3%;
  }

  footer{

    width: 100%;
    height:auto;
    background-color: black;
    color: white;
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
  

}

footer p {
    font-size: 14px;
    margin-left: 0px;
padding-top: 0px;
padding-bottom: 0px;
 
}

.footerp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slideshow-container {
    width: 100%;
    height:300px;
    position:static;
    margin: 0px;


 
  }
.slideshow-container img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.continfo{
    width: 95%;
    display: flex;
margin-top: 0px;
    flex-direction: column;
margin-left: 5%;
font-size: 17px;
    
    
    }
    .continfo iframe{
width: 95%;
    }

    .continfo button{
        width: 95%;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 30%;
        width: auto;
     
     
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .cadastre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   
        width: 100%;
    }
  

    .wahtssapp{
      position: fixed;
      bottom: 50px;
      right: 0;
    }
    
    .wahtssapp img{
      width: 150px;

      object-fit: cover;
    }
   
    .continfo p{
      width: 98%;
  
  }
    }

  